/* .background {
  background-image: url("https://www.getonecard.app/assets/apply/bg_web.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
small {
  color: #7777;
}

input {
  background-color: #1e252b;
  border: 1px solid #1e252b;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: none;
} */
